<section class="section section-below-hero">
  <div class="global-container">
    <div class="features-wrapper-top">
      <div class="content-center">
        <h2 class="subtitle-2 text-center">Designed for games<span class="text-block"></span></h2>
      </div>
      <div class="w-layout-grid features-grid">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3655-e4a9bcb7" class="feature feature-card-1"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf1_Picotogram%20%E2%80%93%20Mainstream%20User%20Experience.png"
            loading="lazy" height="48" width="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3657-e4a9bcb7" class="heading-3 feature-heading">Appeal to
            mainstream gamers</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365b-e4a9bcb7" class="text-sm">Our wallet UX&nbsp;caters for all
            kinds of gamers with its integrated credit card payments</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365d-e4a9bcb7" class="feature feature-card-2"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf8_Picotogram%20%E2%80%93%20No%20Gas%20Fees.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div class="heading-3 feature-heading">Mint millions of NFTs with ease</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3663-e4a9bcb7" class="text-sm">Unlock <em>truly</em> scalable
            Web3 games and build carbon-neutral NFTs with Immutable Mint&nbsp;</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3665-e4a9bcb7" class="feature feature-card-3"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf7_Picotogram%20%E2%80%93%20Build%20in%20Hours.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3667-e4a9bcb7" class="heading-3 feature-heading">Build in
            hours <br>with APIs</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366b-e4a9bcb7" class="text-sm">Expert customer and developer
            support, simple APIs &amp;&nbsp;SDKs allow you to build and&nbsp;launch faster</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366d-e4a9bcb7" class="feature feature-card-4"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf6_Picotogram%20%E2%80%93%20Supercharged%20Liquidity.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366f-e4a9bcb7" class="heading-3 feature-heading">Supercharge
            your<br>distribution</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3673-e4a9bcb7" class="text-sm">Our global order book instantly
            propagates your NFTs to every marketplace in our network</p>
        </div>
      </div>
    </div>
    <div class="content-center">
      <h2 class="subtitle-2 text-center">With the best scaling technology<span class="text-block"></span></h2>
    </div>
    <div class="w-layout-grid features-grid mt-2">
      <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc367b-e4a9bcb7" class="feature feature-card-1"><img
          src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf5_Picotogram%20%E2%80%93%20Planet%20Scale.png"
          loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc367d-e4a9bcb7" class="heading-3 feature-heading">Planet-scale
          unlocked</div>
        <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3681-e4a9bcb7" class="text-sm">Our evolving tech can support games
          no matter how big they grow</p>
      </div>
      <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3683-e4a9bcb7" class="feature feature-card-2"><img
          src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf4_Picotogram%20%E2%80%93%20Ethereum%20Security.png"
          loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3685-e4a9bcb7" class="heading-3 feature-heading">Ethereum-grade
          security<br></div>
        <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3689-e4a9bcb7" class="text-sm">Unlike sidechains, we cannot be
          easily attacked or ransomed</p>
      </div>
      <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc368b-e4a9bcb7" class="feature feature-card-3"><img
          src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf3_Pictogram%20%E2%80%93%20Zero%20Carbon.png"
          loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc368d-e4a9bcb7" class="heading-3 feature-heading">
          100%&nbsp;carbon<br>neutral</div>
        <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3691-e4a9bcb7" class="text-sm">All NFTs traded on Immutable are
          always completely carbon neutral</p>
      </div>
      <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3693-e4a9bcb7" class="feature feature-card-4"><img
          src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf2_Picotogram%20%E2%80%93%20Zero%20Knowledge%20Roll%20Ups.png"
          loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3695-e4a9bcb7" class="heading-3 feature-heading">Zero
          knowledge<br>roll-ups</div>
        <p href="https://starkware.co/" target="_blank" id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3699-e4a9bcb7"
          class="text-sm">Multiple rollup offerings that cater to your individual needs</p>
      </div>
    </div>
  </div>
</section>
