<section class="section section-below-hero">
  <div class="global-container">
    <div class="features-wrapper-top">
      <div class="content-center">
        <h2 class="subtitle-2 text-center">Designed for games<span class="text-block"></span></h2>
      </div>
      <div class="w-layout-grid features-grid">
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3655-e4a9bcb7" class="feature feature-card-1"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf1_Picotogram%20%E2%80%93%20Mainstream%20User%20Experience.png"
            loading="lazy" height="48" width="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3657-e4a9bcb7" class="heading-3 feature-heading">Appeal to
            mainstream gamers</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365b-e4a9bcb7" class="text-sm">Our wallet UX&nbsp;caters for all
            kinds of gamers with its integrated credit card payments</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365d-e4a9bcb7" class="feature feature-card-2"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf8_Picotogram%20%E2%80%93%20No%20Gas%20Fees.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div class="heading-3 feature-heading">Mint millions of NFTs with ease</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3663-e4a9bcb7" class="text-sm">Unlock <em>truly</em> scalable
            Web3 games and build carbon-neutral NFTs with Immutable Mint&nbsp;</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3665-e4a9bcb7" class="feature feature-card-3"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf7_Picotogram%20%E2%80%93%20Build%20in%20Hours.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3667-e4a9bcb7" class="heading-3 feature-heading">Build in
            hours <br>with APIs</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366b-e4a9bcb7" class="text-sm">Expert customer and developer
            support, simple APIs &amp;&nbsp;SDKs allow you to build and&nbsp;launch faster</p>
        </div>
        <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366d-e4a9bcb7" class="feature feature-card-4"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf6_Picotogram%20%E2%80%93%20Supercharged%20Liquidity.png"
            loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
          <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366f-e4a9bcb7" class="heading-3 feature-heading">Supercharge
            your<br>distribution</div>
          <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3673-e4a9bcb7" class="text-sm">Our global order book instantly
            propagates your NFTs to every marketplace in our network</p>
        </div>
      </div>
    </div>
  </div>
</section>
