<section class="section section-below-hero">
    <div class="global-container">
        <div class="features-wrapper-top">
            <div class="content-center">
                <div class=" text-center section-heading-main">Core Features</div>
            </div>
            <div class="w-layout-grid features-grid">
                <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3655-e4a9bcb7" class="feature feature-card-1"><img src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf1_Picotogram%20%E2%80%93%20Mainstream%20User%20Experience.png" loading="lazy" height="48" width="48" alt="icon" class="feature-icon">
                    <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3657-e4a9bcb7" class="heading-3 feature-heading">Decentralized Ad Exchange</div>
                    <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365b-e4a9bcb7" class="text-sm">Bid for ad space and earn revenue through a transparent, user-controlled platform that rewards engagement.
                    </p>
                </div>
                <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc365d-e4a9bcb7" class="feature feature-card-2"><img src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf8_Picotogram%20%E2%80%93%20No%20Gas%20Fees.png" loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
                    <div class="heading-3 feature-heading">Content Discovery Marketplace</div>
                    <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3663-e4a9bcb7" class="text-sm">Navigate and shape the terrain of content with a marketplace that aligns creators with interested audiences for optimized engagement.</p>
                </div>
                <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3665-e4a9bcb7" class="feature feature-card-3"><img src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf7_Picotogram%20%E2%80%93%20Build%20in%20Hours.png" loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
                    <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3667-e4a9bcb7" class="heading-3 feature-heading">AI-Assisted Content Curation</div>
                    <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366b-e4a9bcb7" class="text-sm">Use our AI tools to improve your content strategy by curating your feed with trending topics and audience preferences.</p>
                </div>
                <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366d-e4a9bcb7" class="feature feature-card-4"><img src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bdf6_Picotogram%20%E2%80%93%20Supercharged%20Liquidity.png" loading="lazy" width="48" height="48" alt="icon" class="feature-icon">
                    <div id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc366f-e4a9bcb7" class="heading-3 feature-heading">Decentralized Governance</div>
                    <p id="w-node-dd1efe35-dd11-62fd-f2da-98cf44dc3673-e4a9bcb7" class="text-sm">Exercise your voice in the evolution of Soline, where community decisions drive the platform forward.</p>
                </div>
            </div>
        </div>
    </div>
</section>
