<section class="section bg-theme tc-light sec-round">
    <div class="global-container">
        <!-- Section Head @s -->
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <div class="mb-6">
                <h2  class="roadmap-heading">Roadmap</h2>
            </div>
                        <p>Dive into the Soline journey, where we transform Twitter engagement into tangible rewards. From concept to full-scale deployment, our roadmap is your guide to our ambitious milestones. Stay tuned for pivotal updates as we advance towards a decentralized digital landscape. </p>
        </div>
        <!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row justify-content-center align-roadmap">
                <div class="col-xl-12">
                    <div class="roadmap-all mgb-m50">
                        <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 mb-0">
                            <div class="row no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q3 2023</span>
                                                <span class="roadmap-title roadmap-title-s1">Ideation and Conceptualization
                                                </span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Develop the Soline project concept.</li>
                                                <li class="roadmap-sub">Market research and analysis.</li>
                                                <li class="roadmap-sub">Initial whitepaper draft.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q4 2023</span>
                                                <span class="roadmap-title roadmap-title-s1">Team Assembly and Whitepaper Finalization</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Assemble a core team of developers, marketers, and strategists.</li>
                                                <li class="roadmap-sub">Finalize the Soline whitepaper.</li>
                                                <li class="roadmap-sub">Establish partnerships with key stakeholders.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q1 2024</span>
                                                <span class="roadmap-title roadmap-title-s1">Platform Development and Testnet Launch</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Begin platform development.</li>
                                                <li class="roadmap-sub">Launch the Soline testnet.</li>
                                                <li class="roadmap-sub">Conduct initial security audits.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q2 2024</span>
                                                <span class="roadmap-title roadmap-title-s1">Pre-Sale and Community Building</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Conduct token pre-sale.</li>
                                                <li class="roadmap-sub">Expand community engagement.</li>
                                                <li class="roadmap-sub">Refine platform based on testnet feedback.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-wrap roadmap-wrap-s1 mb-0">
                            <div class="row flex-row-reverse no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-current roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q3 2024</span>
                                                <span class="roadmap-title roadmap-title-s1">Public Sale and Beta Release</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Conduct public sale of SLN tokens.</li>
                                                <li class="roadmap-sub">Release Soline beta for public use.</li>
                                                <li class="roadmap-sub">Integrate initial set of APIs with Twitter.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q4 2024</span>
                                                <span class="roadmap-title roadmap-title-s1">Full Platform Launch</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Officially launch the full Soline platform.</li>
                                                <li class="roadmap-sub">Activate all core features like the decentralized ad exchange.</li>
                                                <li class="roadmap-sub">Begin onboarding content creators and advertisers.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q1 2025</span>
                                                <span class="roadmap-title roadmap-title-s1">Expansion of Services</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Scale up the decentralized ad exchange.</li>
                                                <li class="roadmap-sub">Introduce advanced analytics tools.</li>
                                                <li class="roadmap-sub">Expand NFT marketplace functionalities.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-wrap roadmap-wrap-s1 mb-0">
                            <div class="row no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q2 2025</span>
                                                <span class="roadmap-title roadmap-title-s1">Ecosystem Maturation</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Optimize tokenomics based on platform usage.</li>
                                                <li class="roadmap-sub">Deepen engagement with Twitter Spaces.</li>
                                                <li class="roadmap-sub">Enhance AI features for personalized content and ad targeting.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">Q3 2025 and Beyond</span>
                                                <span class="roadmap-title roadmap-title-s1">Further Innovation and Growth                                                </span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li class="roadmap-sub">Continuous platform improvement.</li>
                                                <li class="roadmap-sub">Expand enterprise-level services.</li>
                                                <li class="roadmap-sub">Explore additional social media integrations.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2019 Q3</span>
                                                <span class="roadmap-title roadmap-title-s1">Hardware things</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Integration of third party controllers</li>
                                                <li>Marketplace cooperative module</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2020 Q1</span>
                                                <span class="roadmap-title roadmap-title-s1">More Operational</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Integration with Private Chains, More Coin in Wallet</li>
                                                <li>New services offered by members or business</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .block @e -->
    </div>
</section>
