<section class="section bg-theme tc-light sec-round">
    <div class="global-container">
        <!-- Section Head @s -->
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <div class="mb-6">
                <h2  class="roadmap-heading">Roadmap</h2>
            </div>
                        <p>Our team working hardly to make archive lorem ipsum dolor sit amet, consectetur amet, consectetur adipiscing elit. </p>
        </div>
        <!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="roadmap-all mgb-m50">
                        <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 mb-0">
                            <div class="row no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2017 Q1</span>
                                                <span class="roadmap-title roadmap-title-s1">Concept</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Concept Generation</li>
                                                <li>Team Assemble</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2017 Q2</span>
                                                <span class="roadmap-title roadmap-title-s1">Research</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Proving the concept can work</li>
                                                <li>Strategic Plan</li>
                                                <li>White paper conpletion</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2018 Q1</span>
                                                <span class="roadmap-title roadmap-title-s1">Design</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Platform design and technical demonstration</li>
                                                <li>Building the MVP</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 roadmap-done text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2018 Q2</span>
                                                <span class="roadmap-title roadmap-title-s1">Pre-Sale</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Public financing &amp; Seed funding raised</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-wrap roadmap-wrap-s1 mb-0">
                            <div class="row flex-row-reverse no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-current roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2018 Q3</span>
                                                <span class="roadmap-title roadmap-title-s1">App Beta Test</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Private closed beta</li>
                                                <li>Open beta launched to public and improvement the app</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2018 Q4</span>
                                                <span class="roadmap-title roadmap-title-s1">Token Sale</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>ICO Press Tour</li>
                                                <li>Open global sales of ICOblock token</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2018 Q1</span>
                                                <span class="roadmap-title roadmap-title-s1">Alpha Test</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>In-house testing of functional</li>
                                                <li>Prototype published and linked to Ethereum blockchain with real-time scanning</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roadmap-wrap roadmap-wrap-s1 mb-0">
                            <div class="row no-gutters">
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2019 Q2</span>
                                                <span class="roadmap-title roadmap-title-s1">Crowdfunding Integration</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Smart contracts support creators</li>
                                                <li>Ethereum tokens support</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2019 Q3</span>
                                                <span class="roadmap-title roadmap-title-s1">Community Benefits</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Establishing global user base</li>
                                                <li>US start retailer selection</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2019 Q3</span>
                                                <span class="roadmap-title roadmap-title-s1">Hardware things</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Integration of third party controllers</li>
                                                <li>Marketplace cooperative module</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="roadmap roadmap-s1 text-lg-center">
                                        <div class="roadmap-step roadmap-step-s1">
                                            <div class="roadmap-head roadmap-head-s1">
                                                <span class="roadmap-time roadmap-time-s1">2020 Q1</span>
                                                <span class="roadmap-title roadmap-title-s1">More Operational</span>
                                            </div>
                                            <ul class="roadmap-step-list-s1">
                                                <li>Integration with Private Chains, More Coin in Wallet</li>
                                                <li>New services offered by members or business</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .block @e -->
    </div>
</section>
