<section id="hero-section">
    <div class="relative overflow-hidden bg-black text-white">
        <!-- Section Spacer -->
        <div class="pb-28 pt-28 md:pb-40 lg:pt-28 xl:pb-[90px] xl:pt-[122px]">
            <!-- Section Container -->
            <div class="global-container">
                <div class="grid grid-cols-1 items-center gap-10 md:grid-cols-[minmax(0,_1fr)_0.7fr]">
                    <!-- Hero Content -->
                    <div>
                        <h1
                            class="jos mb-6 max-w-md break-words font-clashDisplay text-5xl font-medium leading-none text-white md:max-w-full md:text-6xl lg:text-7xl xl:text-8xl xxl:text-[100px]">
                            Unleashing the Power of Your Tweets
                        </h1>
                        <p class="jos mb-11">
                            Built on the lightning-fast Solana network and enriched with AI, Soline is redefining Twitter's monetization by empowering you to earn with every post, engage more deeply with your followers, and take part in the future of decentralized social media 

                        </p>
                        <a href="https://www.example.com"
                            class="jos button relative z-[1] inline-flex items-center gap-3 rounded-[50px] border-none bg-colorViolet py-[18px] text-white after:bg-colorOrangyRed hover:text-white">Start
                            Chatting for Free
                            <img src="assets/img/th-2/icon-white-long-arrow-right.svg"
                                alt="icon-white-long-arrow-right" /></a>
                    </div>
                    <!-- Hero Content -->
                    <!-- Hero Image -->
                    <div class="hero-img animate-pulse overflow-hidden rounded-2xl bg-black text-right">
                        <img src="assets/img/mock_hero.png" alt="hero-img-2" width="1296" height="640"
                            class="h-auto w-full" />
                    </div>
                    <!-- Hero Image -->
                </div>
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Spacer -->

        <!-- Background Gradient -->
        <div
            class="absolute left-1/2 top-[80%] h-[1280px] w-[1280px] -translate-x-1/2 rounded-full bg-gradient-to-t from-[#5636C7] to-[#5028DD] blur-[250px]">
        </div>
   
    </div>
</section>