.page-wrapper {
    background-color: #fff;
}

.mt-h {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.custom-bg {
    background-color: #14F195;
    border: none;
}

.bg-img {
    background: url('https://images.unsplash.com/photo-1635776062360-af423602aff3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.content-section-1 {
    margin-top: 5rem;
}
.mock2{
    height: 70%;
    width: 70%;
    margin: auto;
}
.main-logo {
    width: 85px;;
}

.mock1{
    height: 547px;
    width: 402px;
    margin: auto;
}