<section class="section-sm is-first-section">
  <div class="global-container">
    <div class="flex-vert-125">
      <div class="grid-8-4">
        <div class="card">
          <h1 class="heading-2">Token Allocation</h1>
          <div class="allocation-content">
            <div class="allocation-chart"><img
                src="https://assets-global.website-files.com/652f11c7308ee0d3944eca04/65763059b9d7afd78bc28c31_imx-allocation-chart.svg"
                loading="lazy" width="198" height="150" alt="Chart showing $IMX token allocation"
                class="allocation-chart"></div>
            <div class="allocation-content-wrapper">
              <div class="grid-allocation">
                <div id="w-node-_9e5a36f3-5b0f-0944-acfa-872af7824eba-767d0ccb" class="allocation-item">
                  <div class="bullet-circle-wrapper text-aqua">
                    <div class="bullet-circle bg-aqua"></div>
                    <div>51.72% Ecosystem Development</div>
                  </div>
                  <div class="allocation-text">
                    <div>User daily rewards e.g. staking</div>
                    <div>Developer grants</div>
                    <div>Liquidity provision</div>
                    <div>Marketing</div>
                  </div>
                </div>
                <div id="w-node-_7f64762c-3e60-4066-78f3-4773f79257b8-767d0ccb" class="allocation-item">
                  <div class="bullet-circle-wrapper text-pink">
                    <div class="bullet-circle bg-pink"></div>
                    <div>25% Project Development</div>
                  </div>
                  <div class="allocation-text">
                    <div class="links-gap-4">
                      <div class="link-with-icon text-white">
                        <div class="icon-10 w-embed"><svg width="100%" height="100%" viewBox="0 0 10 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M5.00065 0.333008L4.17815 1.15551L7.43315 4.41634H0.333984V5.58301H7.43315L4.17815 8.84384L5.00065 9.66634L9.66732 4.99967L5.00065 0.333008Z"
                              fill="white"></path>
                          </svg></div>
                        <div>Immutable Passport</div>
                      </div>
                      <div class="link-with-icon text-white">
                        <div class="icon-10 w-embed"><svg width="100%" height="100%" viewBox="0 0 10 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M5.00065 0.333008L4.17815 1.15551L7.43315 4.41634H0.333984V5.58301H7.43315L4.17815 8.84384L5.00065 9.66634L9.66732 4.99967L5.00065 0.333008Z"
                              fill="white"></path>
                          </svg></div>
                        <div>Immutable Mainnet</div>
                      </div>
                      <div class="link-with-icon text-white">
                        <div class="icon-10 w-embed"><svg width="100%" height="100%" viewBox="0 0 10 10" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M5.00065 0.333008L4.17815 1.15551L7.43315 4.41634H0.333984V5.58301H7.43315L4.17815 8.84384L5.00065 9.66634L9.66732 4.99967L5.00065 0.333008Z"
                              fill="white"></path>
                          </svg></div>
                        <div>Immutable Testnet</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-d6fcd4a4-784f-e59e-c8a7-f7048a838501-767d0ccb" class="allocation-item">
                  <div class="bullet-circle-wrapper text-purple">
                    <div class="bullet-circle bg-purple"></div>
                    <div>13.86% Private Sale</div>
                  </div>
                  <div class="allocation-text">
                    <div>Institutional investors</div>
                    <div>Individual investors</div>
                  </div>
                </div>
                <div id="w-node-c459a60f-8776-4f02-d87e-c203a99a7675-767d0ccb" class="allocation-item">
                  <div class="bullet-circle-wrapper text-yellow">
                    <div class="bullet-circle bg-yellow"></div>
                    <div>4% Foundation Reserve</div>
                  </div>
                  <div class="allocation-text">
                    <div>Liquidity reserves for token health</div>
                  </div>
                </div>
                <div id="w-node-_7f4c29ea-869d-8182-608b-4d2b49eacb2e-767d0ccb" class="allocation-item">
                  <div class="bullet-circle-wrapper text-lime">
                    <div class="bullet-circle bg-lime"></div>
                    <div>5.42% Public Sale</div>
                  </div>
                </div>
              </div>
              <div class="mt-15"><a rel="noopener noreferrer"
                  href="https://assets.website-files.com/646557ee455c3e16e4a9bcb3/6499367de527dd82ab7475a3_Immutable%20Whitepaper%20Update%202023%20(3).pdf"
                  target="_blank" class="link-with-icon text-white w-inline-block">
                  <div class="icon-10 w-embed"><svg width="100%" height="100%" viewBox="0 0 10 10" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M5.00065 0.333008L4.17815 1.15551L7.43315 4.41634H0.333984V5.58301H7.43315L4.17815 8.84384L5.00065 9.66634L9.66732 4.99967L5.00065 0.333008Z"
                        fill="white"></path>
                    </svg></div>
                  <div class="text-sm">Whitepaper</div>
                </a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
