<div *ngIf="!isMobile()" style="max-width:1400px;margin:20vh auto;">
    <div class="jos mb-10 text-center lg:mb-12">
        <div class="mx-auto max-w-md lg:max-w-3xl xl:max-w-[950px]">
            <h2>How we manage your investment?</h2>
        </div>
    </div>
    <angular-carousel [infinite]="true" [auto]="true" [bullets]="true">
      <div *angularCarouselSlide>
        <ul id="monthly" class="tab-content grid grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-3">
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Research & Development
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">5 member team</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    10%<span class="text-lg font-semibold">/Total presale supply</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    For developing the application and hosting the infrastructure
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Development of the application
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Infrastructure development
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Recruiting new talent
                    </li>
                </ul>
                <!-- Price Info List -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Community and Ecosystem
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 10 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    30%<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This is an excellent option for people & small
                    businesses who are starting out.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Classification Models
                    </li>

                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Starter
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 50 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    $89<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This plan is suitable for e-commerce stores as well as
                    professional blogs.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>

                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Time Series Models
                    </li>
                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->

            <!-- Price Item -->
        </ul>
      </div>
      <div *angularCarouselSlide>
        <ul id="monthly" class="tab-content grid grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-3">
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Research & Development
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">5 member team</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    10%<span class="text-lg font-semibold">/Total presale supply</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    For developing the application and hosting the infrastructure
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Development of the application
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Infrastructure development
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Recruiting new talent
                    </li>
                </ul>
                <!-- Price Info List -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Community and Ecosystem
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 10 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    30%<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This is an excellent option for people & small
                    businesses who are starting out.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Classification Models
                    </li>

                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Starter
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 50 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    $89<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This plan is suitable for e-commerce stores as well as
                    professional blogs.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>

                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Time Series Models
                    </li>
                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->

            <!-- Price Item -->
        </ul>
      </div>
      <div *angularCarouselSlide>
        <ul id="monthly" class="tab-content grid grid-cols-1 gap-6 md:grid-cols-2 xxl:grid-cols-3">
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Research & Development
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">5 member team</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    10%<span class="text-lg font-semibold">/Total presale supply</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    For developing the application and hosting the infrastructure
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Development of the application
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Infrastructure development
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Recruiting new talent
                    </li>
                </ul>
                <!-- Price Info List -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Community and Ecosystem
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 10 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    30%<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This is an excellent option for people & small
                    businesses who are starting out.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Classification Models
                    </li>

                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->
            <li class="jos group flex flex-col rounded-[10px] token-card p-[30px] transition-all duration-300 ease-linear hover:bg-black" data-jos_animation="flip" data-jos_delay="0">
                <h3 class="flex flex-wrap font-dmSans text-[28px] font-bold leading-[1.28] tracking-tighter text-black transition-all duration-300 ease-linear group-hover:text-white">
                    Starter
                </h3>
                <span class="text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">Up to 50 members</span>

                <div class="my-5 h-[1px] w-full bg-[#DBD6CF]"></div>
                <h4 class="mb-4 flex flex-col font-dmSans text-5xl font-bold leading-none text-black transition-all duration-300 ease-linear group-hover:text-white md:text-6xl lg:text-7xl xl:text-[80px]">
                    $89<span class="text-lg font-semibold">/Per month</span>
                </h4>
                <p class="mb-6 text-lg text-black transition-all duration-300 ease-linear group-hover:text-white">
                    This plan is suitable for e-commerce stores as well as
                    professional blogs.
                </p>
                <!-- Price Info List -->
                <ul class="mb-10 flex flex-col gap-y-3">
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        AI-Ready Data Prep
                    </li>
                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Feature Engineering
                    </li>

                    <li class="flex items-center gap-x-3 font-bold group-hover:text-white">
                        <div class="relative h-[24px] w-[24px]">
                            <img src="assets/img/th-1/icon-black-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="h-full w-full object-cover" />
                            <img src="assets/img/th-1/icon-orange-badge-check.svg" alt="icon-black-badge-check" width="24" height="24" class="absolute inset-0 left-0 top-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        Time Series Models
                    </li>
                </ul>
                <!-- Price Info List -->
                <!-- <a href="pricing.html" class="button mt-auto block rounded-[50px] border-2 border-black bg-transparent py-4 text-center text-black transition-all duration-300 ease-linear after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-black group-hover:border-colorOrangyRed group-hover:text-white">Choose the plan</a> -->
            </li>
            <!-- Price Item -->
            <!-- Price Item -->

            <!-- Price Item -->
        </ul>
      </div>

    </angular-carousel>
  </div>
  <div *ngIf="isMobile()" style="margin:10vh auto;">
    <div class="jos mb-10 text-center lg:mb-12">
        <div class="mx-auto max-w-md lg:max-w-3xl xl:max-w-[950px]">
            <h2>How we manage your investment?</h2>
        </div>
    </div>
 <app-tokenomics-section></app-tokenomics-section>
</div>