<section id="section-hero">
    <div class="jumbo j-full relative z-[1] overflow-hidden rounded-bl-[30px] rounded-br-[30px] bg-white pb-20 pt-28 lg:rounded-bl-[50px] lg:rounded-br-[50px] lg:pb-24 lg:pt-32 xl:pt-40 xxl:pb-[133px] xxl:pt-[195px]">
    </div>
    <div class="global-container global-margin">
        <!-- Hero Content -->
        <div class="mb-14 flex flex-col items-center text-center lg:mb-20 lg:mt-28">
            <h1 class="jos slide-from-bottom mb-6 ">
                Unleashing the Power of Your Tweets
            </h1>
            <p class="jos slide-from-bottom mb-11 max-w-[700px] text-lg font-semibold sm:text-xl xl:max-w-[980px]">
                Built on the lightning-fast Solana network and enriched with AI, Soline is redefining Twitter's monetization by empowering you to earn with every post, engage more deeply with your followers, and take part in the future of decentralized social media </p>
            <div class="jos flex flex-wrap justify-center gap-6" data-jos_animation="fade">

                <a href="#" class="button rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white">Get
                        started for free</a>
                <a href="#" class="button rounded-[50px] border-2 border-black bg-transparent py-4 text-black after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white">Learn
                        more</a>
            </div>



        </div>
        <!-- Hero Content -->
        <!-- Hero Image -->
        <div class="jos hero-img overflow-hidden rounded-2xl bg-black" data-jos_animation="zoom">
            <!-- <canvas id="canvas3d" alt="hero-dashboard" width="1296" height="640"
                    class="h-auto w-full" ></canvas> -->
        </div>
        <!-- Hero Image -->

        <!-- <div class="my-10 h-[1px] w-full bg-[#DBD6CF] lg:my-16 xl:my-20"></div>
        <div class="jos mx-auto mb-12 max-w-[715px] text-center lg:mb-16">
            <p class="text-lg">
                Companies of all sizes trust us to find AI SaaS critical to their growth and innovation
            </p>
        </div> -->
        <!-- <div class="jos swiper brand-slider" data-jos_animation="fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../../../assets/img/logo-partnership.png" alt="brand-1" width="180" height="38" class="max-w-full" />
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/img/solanaLogoMark.png" alt="brand-2" width="183" height="35" class="max-w-full" />
                </div>

            </div>
        </div> -->
    </div>
    <!-- Section Container -->
    <!-- Hero Background Shape 1 -->
    <!-- <div
            class="orange-gradient-1 absolute -right-[150px] top-[370px] -z-[1] h-[500px] w-[500px] animate-spin rounded-[500px]">
        </div> -->
    <!-- Hero Background Shape 2 -->
    <!-- <div
            class="orange-gradient-2 absolute right-[57px] top-[620px] -z-[1] h-[450px] w-[450px] animate-spin rounded-[450px]">
        </div> -->
    <!-- Section Spacer -->
</section>