<div class="py-[30px] xl:pb-[50px] xl:pt-[50px] bg-black">
    <div class="overflow-hidden">
        <!-- Footer Text Slider -->
        <div class="footer-text-slider flex w-full items-center gap-x-[30px] whitespace-nowrap">
            <!-- Footer Slide Item  -->
            <img src="../../../assets/img/cube3.png" alt="footer-text-slider-icon" width="60" height="60" class="h-10 w-10 lg:h-[60px] lg:w-[60px]">
            <div class="block font-dmSans text-4xl font-bold leading-none -tracking-[2px] text-white lg:text-6xl xl:text-7xl xxl:text-[80px]">
                Join exclusive presale!</div>
            <!-- Footer Slide Item  -->
            <!-- Footer Slide Item  -->
            <img src="../../../assets/img/cube3.png" alt="footer-text-slider-icon" width="60" height="60" class="h-10 w-10 lg:h-[60px] lg:w-[60px]">
            <div class="block font-dmSans text-4xl font-bold leading-none -tracking-[2px] text-white lg:text-6xl xl:text-7xl xxl:text-[80px]">
                Join exclusive presale! </div>
            <!-- Footer Slide Item  -->
            <!-- Footer Slide Item  -->
            <img src="../../../assets/img/cube3.png" alt="footer-text-slider-icon" width="60" height="60" class="h-10 w-10 lg:h-[60px] lg:w-[60px]">
            <div class="block font-dmSans text-4xl font-bold leading-none -tracking-[2px] text-white lg:text-6xl xl:text-7xl xxl:text-[80px]">
                Join exclusive presale!</div>
            <!-- Footer Slide Item  -->
        </div>
    </div>
</div>