<section class="section with-line-top">
  <div class="global-container">
    <div class="content-center mb-12">
      <h2 class="subtitle-2 text-center">Designed for games<span class="text-block"></span></h2>
    </div>
    <div class="w-layout-grid grid-cards">
      <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e05-e4a9bcb7" class="grid-card">
        <div class="grid-card-content">
          <div class="card-lg-heading">
            <h4 class="title-2">Build your NFT project with ease</h4>
          </div>
          <div class="card-text">Ethereum-grade security, zero gas fees, and user-friendly APIs allow you to quickly and
            easily build your next NFT project</div>
          <div class="grid-card-btn-wrapper"><a
              href="https://hub.immutable.com/?utm_source=landing_page_home&amp;utm_medium=body&amp;utm_campaign=start_building"
              target="_blank" rel="noopener noreferrer" class="btn btn-line w-button">Start Building</a></div>
        </div>
      </div>
      <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e0f-e4a9bcb7" class="grid-card-sm card-text-left gray-scale"><img
          src="https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          loading="lazy" alt="background gradient" class="card-bg-img img-radius">
        <div class="x-img"><img
            src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bcc2_x.svg"
            loading="lazy" id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e11-e4a9bcb7" alt="Immutable X - X icon"></div>
        <div class="grid-card-content card-sm">
          <div class="card-sm-heading">
            <h4 class="title-2 text-white">Explore, trade, collect</h4>
          </div>
          <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e16-e4a9bcb7" class="card-text">Explore&nbsp;marketplaces in
            the Immutable Ecosystem to view all the latest and most exciting NFT&nbsp;projects</div>
          <div class="grid-card-btn-wrapper"><a href="https://market.immutable.com/" target="_blank"
              rel="noopener noreferrer" class="btn  btn-line-white w-button">Start Trading</a></div>
        </div>
        <div class="card-text-left"></div>
      </div>
      <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e1b-e4a9bcb7" class="grid-card-sm card-text-left"><img
          src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bff1_gradient-1.jpg"
          loading="lazy" alt="background gradient" class="card-bg-img img-radius">
        <div data-w-id="6a060f3b-55ff-2312-16cf-ae9cd9017e1c" class="grid-card-marquee-wrapper">
          <div
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            class="grid-card-marquee">
            <div class="buy-marquee-item">
              <div class="exchange">Coinbase</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Binance</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Coinbase</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Binance</div>
              <div class="exchange-bullet"></div>
            </div>
            <div class="buy-marquee-item">
              <div class="exchange">Coinbase</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Binance</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Coinbase</div>
              <div class="exchange-bullet"></div>
              <div class="exchange">Binance</div>
              <div class="exchange-bullet"></div>
            </div>
          </div>
        </div>
        <div class="grid-card-content card-sm">
          <div class="card-sm-heading">
            <h4 class="title-2">Buy IMX Today</h4>
          </div>
          <div class="card-text"></div>
          <div class="btn-wrapper-sm"><a href="https://www.digitalworldsnfts.com/imx-token" rel="noopener noreferrer"
              target="_blank" class="btn btn-line w-button">Discover More</a></div>
        </div>
      </div>
      <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e3a-e4a9bcb7" class="grid-card">
        <div class="grid-card-content">
          <div class="card-lg-heading">
            <h4 class="title-2">Join the Immutable community</h4>
          </div>
          <div id="w-node-_6a060f3b-55ff-2312-16cf-ae9cd9017e3f-e4a9bcb7" class="card-text-lg">Take part in the
            conversation! Stay in the know &amp; be the first to hear about any new updates<br></div>
          <div class="btn-wrapper-lg"><a rel="noopener noreferrer" href="https://discord.gg/CYsjMdctsP" target="_blank"
              class="social-circle w-inline-block"><img
                src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bcc4_Discord.svg"
                loading="lazy" alt="Discord icon" class="social-circle-img"></a><a rel="noopener noreferrer"
              href="https://twitter.com/Immutable" target="_blank" class="social-circle w-inline-block"><img
                src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bcc6_twitter.svg"
                loading="lazy" alt="Twitter icon" class="social-circle-img"></a><a rel="noopener noreferrer"
              href="https://www.reddit.com/r/ImmutableX/" target="_blank" class="social-circle w-inline-block"><img
                src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9bcc7_reddit.svg"
                loading="lazy" alt="Reddit icon
" class="social-circle-img"></a><a rel="noopener noreferrer"
              href="https://www.youtube.com/channel/UCR_WlrGou7hm0ACXYpldcuA/featured" target="_blank"
              class="social-circle w-inline-block"><img
                src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/646557ee455c3e16e4a9be8e_youtube.svg"
                loading="lazy" alt="Youtube icon" class="social-circle-img"></a><a rel="noopener noreferrer"
              href="/games/subscribe" class="social-circle w-inline-block"><img
                src="https://assets-global.website-files.com/646557ee455c3e16e4a9bcb3/64a78360e80bdad110bd1342_newspaper-solid.svg"
                loading="lazy" alt="Newletter icon" class="social-circle-img"></a></div>
        </div>
      </div>
    </div>
    <!-- <div class="mt-125">
      <div class="newsletter-cta">
        <div id="w-node-b11c700d-424a-1290-3aee-4f5ed96b0242-e4a9bcb7">
          <div class="heading-2 mb-125">Join our gaming newsletter</div>
          <p class="text-sm">Join 1,000,000+ subscribers to get the latest in Immutable gaming. </p>
        </div>
        <div id="w-node-b11c700d-424a-1290-3aee-4f5ed96b0247-e4a9bcb7" class="newsletter-form-block w-form">
          <form id="wf-form-Email-Form-2" name="wf-form-Email-Form-2" data-name="Email Form" method="get"
            class="newsletter-form" data-wf-page-id="646557ee455c3e16e4a9bcb7"
            data-wf-element-id="b11c700d-424a-1290-3aee-4f5ed96b0248" aria-label="Email Form"><label for="Email-4"
              class="sr-only">Email Address</label><input class="newsletter-input w-input" maxlength="256"
              name="Email-2" data-name="Email 2" placeholder="Your email address" type="email" id="Email-4" required="">
            <div class="w-embed"><input type="hidden" id="current-page" data-name="Page" value="/"></div><input
              type="submit" data-wait="Please wait..." class="btn w-button" value="Subscribe">
          </form>
          <div class="w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
          <div id="w-node-b11c700d-424a-1290-3aee-4f5ed96b0254-e4a9bcb7" class="mt-1">
            <div class="text-xs text-grey">By clicking Subscribe, you are acknowledging that you have read and
              understood Immutable's <a href="/privacy-policy" target="_blank" class="text-grey">Privacy Policy</a> and
              <a href="/collection-statement" target="_blank" class="text-grey">Collection Statement</a>.</div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
